body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: pink;
  
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: bold
}

footer {
  text-align: right;
  color: midnightblue;
}

.title-image {
  float: left;
  margin-right: 50px;
}

.logo {
  border-radius: 50%;
  height: 200px;
  width: 200px;

}

.left {
  float: left: ;
}

.right {
  float: right;
}

.card {
  width: 45%;
}

.Dick {
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: -4px 4px black,
  -6px 6px red,
  -8px 8px orange,
  -10px 10px yellow,
  -12px 12px green,
  -14px 14px blue,
  -16px 16px indigo,
  -18px 18px violet

}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .cardt {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
h2.card-title {
  background-color: purple;
}